body{
    font-family: sans-serif;
}
.cartPage{

	height: auto;
	padding:10em 30px 50px 30px ;

}
.cartPage .cartItem h1{
	padding: 3px;
	width:80%;
	color:#555;
	font-weight: 500;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
.cartPage .cartItem .cartNone{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: none;

	
}
.cartPage .cartItem .cartNone img{
	width: 300px;
	height: auto;
	margin-bottom: 15px;
}
.cartPage .cartItem .cartNone p{
	color:#999;
	margin-bottom: 20px;
}
.cartPage .cartItem .cartNone a{
	display: block;
	width:200px;
	height: 40px;
	background-color: #1484c4;
	text-align: center;
	line-height: 40px;
	color:#fff;
	text-decoration: none;
	font-weight: 600;
	border-radius: 5px;
}
.cartPage .cartSubtotal{
	width: 100%;
	padding:15px;
	border-radius: 5px;
	box-shadow: 10px 10px 10px rgba( 1 1 1 / 10%);
}
.cartPage .cartSubtotal h2{
	color:#666;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}
.cartPage .cartSubtotal button{
	outline: none;
	border:none;
	width:100%;
	height: 50px;
	background-color: rgba(240, 240, 240, 1);
	color:#999;
	cursor: pointer;
}
.cartPage .cartSubtotal .line{
	width:100%;
	height: 1px;
	background-color: #ccc;
	margin: 30px auto;
}
.cartPage .cartSubtotal h4{
	color:#555;
	font-weight: 500;
	margin: 10px 0;
}
.cartPage .cartSubtotal h3{
	color:#555;
	font-size: 18px;
	margin: 15px 0;
}
.cartPage .cartSubtotal h3 span{
	color:#f00;
	font-weight: 600;
	font-size: 20px;
}
.cartPage .cartSubtotal input[type="submit"]{
	width:100%;
	height: 50px;
	outline: none;
	border:none;
	background-color: #1484c4;
	font-size: 16px;
	font-weight: 600;
	color:#fff;
	cursor: pointer;
}
.cartPage .cartContent{
	border-radius: 5px;
	box-shadow: 10px 10px 15px rgba(1 1 1 / 10%);
	overflow: hidden;
	margin-bottom: 50px;
}
.cartPage .cartContent .cartContentTitle .td-1{
	width:40%;
	font-weight: 600;
}
.cartPage .cartContent .cartContentTitle .td-2{
	width: 15%;
	font-weight: 600;
}
.cartPage .cartContent .cartContentTitle .td-3{
	width: 25%;
	font-weight: 600;
}
.cartPage .cartContent .cartContentTitle .td-4{
	width: 20%;
	font-weight: 600;
}
.cartPage .cartContent .cartContentList .td-1{
	width:40%;
	display: flex;
	align-items: center;
}
.cartPage .cartContent .cartContentList .td-2{
	width: 15%;
}
.cartPage .cartContent .cartContentList .td-3{
	width: 25%;
	color:#f00;
}
.cartPage .cartContent .cartContentList .td-4{
	width: 20%;
	color:#f00;
	font-size: 24px;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
.cartPage .cartContent .cartContentList .td-4 i{
	color:#999;
	font-size: 18px;
	cursor: pointer;
}
.cartPage .cartContent .cartContentTitle{
	list-style: none;
	display: flex;
	flex-direction: column;
}
.cartPage .cartContent .cartContentTitle li{
	display: flex;
	background-color: #1484c4;
	height: 50px;
	align-items: center;
	padding: 10px;
	color:#fff;
}
.cartPage .cartContent .cartContentList{
	list-style: none;
	display: flex;
	flex-direction: column;
}
.cartPage .cartContent .cartContentList li{
	display: flex;
	height: 150px;
	align-items: center;
	padding: 10px;
	color:#333;
	border-bottom: 1px #ccc solid;
}
.cartPage .cartContent .cartContentList li:last-child{
	border-bottom: none;
}
.cartPage .cartContent .cartContentList img{
	width:150px;
	height: 80px;
	margin-right: 0px ;
}
.cartPage .cartContent .cartContentList p{
	padding: 10px;
}
.cartPage .cartContent .cartContentList .td-3 input[type="number"]{
	border: none;
	outline: none;
	padding: 5px;
	margin: 0 5px !important;
	box-shadow: 0 2px 5px;
	min-width: 40px;
	height: 20px;
}
.cartPage .cartContent .cartContentList .td-3 button{
	background:#1484c4; 
	color: #fff;
	border: none;
	outline: none;
	padding: 0 5px;
	border-radius: 3px;
	font-weight: 700;
	width: 25px;
	cursor: pointer;
}
.cartPage .cartContent .cartContentList .td-3 button:hover,
.cartPage .cartContent .cartContentList .td-3 button:focus{
	background: #1456C4;
}
.cartIetmRight{
	position: relative;
}
.productIllustrate{
	margin: 30px 5px;
	display: flex;
	justify-content: center;
}
.productIllustrate .productIllustrateBox{
	width:100%;
	padding: 10px;
	border:1px #ccc solid;
}
.productIllustrate .productIllustrateBox h1{
	background-color: #E4E4E4;
	height: 60px;
	line-height: 60px;
	padding-left: 15px;
	font-size: 16px;
	color:#333;
	font-weight: 500;
}
.productIllustrate .productIllustrateBox p{
	padding: 10px;
	line-height: 1.8;
	color:#333;
}

.convert{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 999999;
	opacity: 0;
	transition: .5s;
}
.convertModel{
	position: absolute;
	top: calc(50% - 125px);
	left:calc(50% - 200px);
	width:400px;
	height: 250px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding: 15px 0;
}
.convertModel h1{
	width: 100%;
	height: auto;
	text-align: center;
	line-height: 60px;
	color:#555;
	font-weight: 500;
	margin-bottom: 10px;
}
.convertModel input[type="text"]{
	width: 200px;
	height: 35px;
	outline: none;
	border:none;
	border:1px #999 solid;
	border-radius: 5px;
	padding: 0 10px;
	margin-bottom: 60px;
}
.convertModel input[type="text"]:focus{
	border:2px #000 solid;
}
.convertModel button{
	width: 150px;
	height: 35px;
	outline: none;
	border:none;
	background-color: #1484c4;
	color:#fff;
	cursor: pointer;

}
.convertModel i{
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	color:#666;
}
.convertModel i:hover{
	color:#000;
	transition: .3s;
}
.myCollect{
	padding: 0 10px;
}
.myCollect h1{
	color:#333;
	font-weight: 500;
	margin: 50px 0;
}
.myCollect .collectNull{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 400px;
}
.myCollect .collectNull img{
	width:350px;
	height: auto;
	margin-bottom: 30px;
}
.myCollect .collectNull p{
	color:#999;
	font-size: 18px;
}
.myCollect .collectContent{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.myCollect .collectContent .collectItem{
	width: 250px;
	border: 1px #ddd solid;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(1 1 1 / 15%);
	overflow: hidden;
	height: 420px;
	margin: 15px;
}
.myCollect .collectContent .collectItem img{
	width:100%;
}
.myCollect .collectContent .collectItem .collectText{
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.myCollect .collectContent .collectItem .collectText p{
	font-size: 14px;
	color: #aaa;
	margin: 5px 0;
}
.myCollect .collectContent .collectItem .collectText h1{
	font-size: 18px;
	font-weight: 500;
	margin: 5px 0;
	padding: 0 5px;
}
.myCollect .collectContent .collectItem a{
	color: #333;
	text-decoration: none;
}
.myCollect .collectContent .collectItem h2{
	font-size: 18px;
	margin: 5px 0;
}
.myCollect .collectContent .collectItem span{
	text-decoration: line-through;
	color: #aaa;
	margin-right: 5px;
	font-size: 16px;
	font-weight: 500;
}
.myCollect .collectContent .collectItem .collectBtn{
	display: flex;
	justify-content: center;
	align-items: center;
}
.myCollect .collectContent .collectItem .collectBtn input[type="submit"]:nth-child(1){
	width: 120px;
	height: 40px;
	background: #1484c4;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0 5px;
	border-radius: 5px;
}
.myCollect .collectContent .collectItem .collectBtn input[type="submit"]:nth-child(2){
	width: 80px;
	height: 40px;
	background: #999;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0 5px;
	border-radius: 5px;
}

.shippingMethod{
	display: flex;
	flex-direction: column;
}
.shippingMethod h2{
	color:#555;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 15px;
}
.shippingMethod select{
	width:90%;
	height: 40px;
	margin: 10px 0;
	border:1px #999 solid;
	border-radius: 5px;
	font-size: 16px;
	padding: 0 10px;
}
.shippingMethod span{
	color:#666;
	margin-bottom: 5px;
}
.shippingMethod a{
	display: block;
	width: 120px;
	height: 50px;
	color:#fff;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	font-weight: 600;
	background: #444554;
	margin-bottom: 5px;
}
.shippingMethod p{
	color:#999;
}

.slogan{
	min-height: 100px;
	margin: 30px 0;
	height: auto;
  }
  .slogan .slogan-text{
	text-align: center;
	font-size: 18px;
	height: 40px;
  }
  .slogan .slogan-text i{
	margin: 0 5px;
	color:#E6157D ;
  }


.cartCheckbox{
	margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 15px;
  height: 0px;
  position: relative;

}
.cartCheckbox:after{
position: absolute;
  width: 15px;
  height: 20px;
  top: -10px;
  left: -4px;
  content: " ";
  color: #fff;
  display: inline-block;
  visibility: visible;
  padding-left: 4px;
  border-radius: 3px;
  background:#FFFFFF;
  border:1px solid #DDDDDD;

}
.cartCheckbox:checked:after {
	content: "✓";
   font-size: 12px;
   font-weight:600;
	background-color: #1484c4;
} 
@media screen and (max-width:767px){
	.cartPage .cartContent .cartContentTitle{
		display: none;
	}
	.cartPage .cartContent .cartContentList li{
		display: flex;
		height: 150px;
		align-items: center;
		padding: 10px;
		color:#333;
		border-bottom: 1px #ccc solid;
		flex-wrap: wrap;
	}
	.cartPage .cartContent .cartContentList .td-1{
		width:100%;
		display: flex;
		align-items: center;
	}
	.cartPage .cartContent .cartContentList .td-2{
		width: 20%;
	}
	.cartPage .cartContent .cartContentList .td-3{
		width: 40%;
	}
	.cartPage .cartContent .cartContentList .td-4{
		width: 40%;
		color:#f00;
		font-size: 24px;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px;
	}
}