.thousands::before{
    content:'$';
}
.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  background-image: url('../images/intro.jpg');
  background-size: cover;
  width: 100%;
  height: 600px;
  padding: 50px 0;
}
.intro h1{
  color: #1484C4;
  font-size: 48px;
  margin-bottom: 20px;
  
}
.intro p{
  width: 600px;
  text-align: center;
  color: #fff;
}
.intro .intro-list{
  display: flex;
}
.intro .intro-list .intro-item{
  width: 250px;
  height: 300px;
  padding: 10px;
  margin: 30px 15px;
  background: #fff;
  border-radius: 3px;
}
.intro .intro-list .intro-item img{
  width: 100%;
}
.intro .intro-list .intro-item p{
  width: 100%;
  padding: 10px;
  color: #333;
}

@media screen and (max-width: 800px) {
  .intro .intro-list .intro-item{
    width: 200px;
    height: 250px;
    
  }
  .intro .intro-list{
    display: flex;
    flex-direction: column;
  }
  .intro{
    height: auto;
  }
  
}
@media screen and (max-width: 650px) {
  .intro .intro-list .intro-item{
    width: 250px;
    height: 300px;
    
  }
  
  .intro p{
  width: 90%;
  text-align: center;
  color: #fff;
  }
}


.new-class{
  margin-bottom: 30px;
  padding:0 100px;
}
.new-class .container{
  flex-direction: column;
}
.new-class h2{
  padding: 15px;
  font-weight: 500;
  font-size: 30px;
}
.new-class .new-class-item{
  width: 95%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px #eee solid;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  color: #1484c4;
  font-weight: 600;
}
.new-class .new-class-item span{
  color: #1484c4;
}
.new-class .new-class-item i{
   color: #1484c4;
  font-size: 20px;
  margin-right: 3px;
  margin-left: 15px;
}
.new-class .new-class-item .fa-thumbs-up{
  margin-left: 30px;
}
.new-class-mainimg{
  width: 100%;
  height: 170px;
  overflow: hidden;
}
.new-class .new-class-item:hover{
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
  transition: .5s;
}
.new-class .new-class-item:hover>.new-class-mainimg img{
   transform: scale(1.2);
   transition: .3s;
}
.new-class .new-class-item img{
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.new-class .new-class-item h1{
  padding: 10px;
  color: #333;
  font-size: 20px;
  width : 230px;
/* -------------------sti add start -------------------*/
  margin-bottom: 0;
  font-weight: 600;
/* -------------------sti add end -------------------*/
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}
.new-class .new-class-item small{
  text-decoration: line-through;
  color:#999;
  padding: 10px 0 10px 10px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
}
.new-class .new-class-item p{
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
/* -------------------sti add start -------------------*/
  margin-bottom: 0;
/* -------------------sti add end -------------------*/
}
.new-class .new-class-item p img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.new-class .new-class-item b{
  padding: 10px;
  color: #1484C4;
  font-size: 20px;
}
.new-class .new-class-item a{
  width: 150px;
  height: 40px;
  display: block;
  border: 1px #000 solid;
  text-align: center;
  text-decoration: none;
  color: #000;
  line-height: 35px;
  margin: auto;
  margin-top: 20px;
}



.qa{
  margin-bottom: 50px;
}

.qa h1{
  text-align: center;
  color: #1484C4;
  font-size: 36px;
  font-weight: 500;
}
.qa .question-ans{
  width: 60%;
  border: 1px #fff solid;
  box-shadow: 0px 5px 15px rgba(1 1 1 /15%);
  margin: 30px auto;
  height: auto;
  border-radius: 10px;

}
.qa .question-ans .question{
  width: 100%;
  height: 80px;
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;


  
}
.qa .question-ans .ans{
  height: auto;
  display: none;
  overflow: hidden;
  
}
.qa .question-ans .ans p{
  padding: 15px;
}


@media screen and (max-width: 1024px) {
  .qa .question-ans{
    width: 80%;
  }
  
}
@media screen and (max-width:768px){
  .new-class{
    margin-bottom: 30px;
    padding:0 50px;
  }
}
@media screen and (max-width:550px){
  .new-class{
    margin-bottom: 30px;
    padding:0 20px;
  }
}





