ol, ul{
	padding-left:0;
}
p{
	margin-bottom: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	margin-bottom: 0;
	font-weight: 600;
}
.thousands::before{
    content:'$';
}
.openBox{
	font-size: 14px;
	color:#666;
	margin-left: 10px;
}
.openBox::before{
	content: '(';

}
.openBox::after{
	content: ')';
	
}
.productList{
	min-height: 100vh;
	margin-top: 30px;
}
.productListPhoto{
	width: 450px;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.productListPhoto img{
	width: calc(100% - 5px);
	height: 100%;
	overflow: hidden;
	object-fit: cover;
}
.productListSmallPhoto{
	display: flex;
	width: 100%;
	height:150px;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}
.productListSmallPhoto img{
	margin: 0 3px;
	cursor: pointer;
	opacity: .5;
	object-fit: cover;
	width: 150px;
	height: 120px;

}
.productListSmallPhoto img:hover{
	opacity: 1;
	transition: 1s;
}
.productList .contentPhotoList{
	width: 520px;
}
.productList .contentPhotoList nav{
	display: flex;
	justify-content: space-between;
}
.productList .contentPhotoList nav > a{
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin: 0 5px;
}
.productList .contentPhotoList nav img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.productListText{
	display: flex;
	flex-direction: column;
}
.productListText h1{
	color: #333;
	position: relative;
	margin: 15px 0;
}
.productListText h1:before{
	content: '';
	position: absolute;
	bottom:-10px;
	left: 0;
	width: 50px;
	height: 3px;
	background: #ccc;
}
.productListText h6{
	color:#888;
	font-size: 14px;
	font-weight: 600;
}
.productListMoney{
	display: flex;
	color: #333;
	font-size: 24px;
	margin: 15px 0;
	align-items: center;

}
.productListMoney span{
	text-decoration: line-through;
	color: #999;
	font-size: 18px;
	margin-right: 5px;
}
.productListText p{
	width: 80%;
	min-height: 50px;
	height: auto;
}
.productListMoney b{
	color:#D0011B;
}
.productpromotions{
	display: flex;
	margin: 5px 0;
	border-top:1px #ccc solid;
	border-bottom: 1px #ccc solid;
	min-height: 50px;
	height: auto;
}
.productpromotions > div{
	display: flex;
	flex-direction: column;
}
.productpromotions b{
	color:#ff0101;
}
.productpromotions h2{
	color:#FF0101;
	width:100px;
	font-size: 18px;
	font-weight: 600;
}
.productpromotions a{
	margin-left: 10px;
	font-size: 14px;
	color:#666;
	cursor: pointer;
}
.productListText .productListTextSize{
	width: 100%;
	display: flex;
	height: 35px;
	align-items: center;

}
.productListText .productListTextSize a{
	margin-left: 10px;
	font-size: 14px;
	color:#666;
}
.productListText .productListTextSize h3{
	width: 100px;
	font-size: 16px;
}
.productListText .productListTextSize select{
	width: 50%;
	height: 35px;
	border-radius: 5px;
	outline: none;
	border: none;
	border: 1px #aaa solid;
	padding: 0 10px;
}
.productListText .productListTextSize select:focus,
.productListText .productListTextNumber select:focus{
	border: 2px #BAD9FA solid;

}
.productListText .productListTextNumber{
	margin: 30px 0;
	display: flex;	
	align-items: center;
}
.productListText .productListTextNumber select{
	width:150px;
	height: 30px;
	border-radius: 5px;
	outline: none;
	border: none;
	border: 1px #aaa solid;
	padding: 0 10px;
}
.productListText .productListTextNumber h3{
	width: 100px;
	color:#333;
	font-size: 16px;
}
	
.productListText .productListTextBtnList{
	margin-top: 30px;
	display: flex;	
	align-items: center;
}
.productDelivery{
	height: 60px;
}
.productDelivery input[type="radio"]{
	display: none;
}
.productDelivery label{
	position: relative;
	color:#4BB9AE;
	font-family: 'Poppins',sans-serif;
	font-size: 16px;
	border:2px solid #4BB9AE;
	padding: 5px 25px;
	cursor: pointer;
	font-weight: 600;
}

.productDelivery input[type="radio"]:checked + label{
	background-color: #4BB9AE;
	color:#fff;
}
.productDelivery > a{
	font-size: 14px;
	color:#666;
	margin-left: 10px;
}
.productGiveaway{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.productGiveaway .giveaway{
	display: flex;
	margin: 5px 0;
	position: relative;
}
.productGiveaway .giveaway h5{
	background: #F07305;
	color:#fff;
	width: 35px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-weight: 500;
	font-size: 12px;
}
.productGiveaway .giveaway a{
	color:#666;
	font-size: 14px;
	text-decoration: none;
	margin-left: 10px;
}
.promotionsBox,
.sizeBox,
.deliveryBox,
.addpayBox{
	display: none;
	transition: 1s;
	z-index: 999;
}
.promotionsBox .promotionsBoxBack,
.sizeBox .sizeBoxBack,
.deliveryBox .deliveryBoxBack,
.addpayBox .addpayBoxBack{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 9999;
}
.promotionsBox .promotionsBoxContent,
.sizeBox .sizeBoxContent,
.deliveryBox .deliveryBoxContent,
.addpayBox .addpayBoxContent{
	position: fixed;
	width: 600px;
	height: 400px;
	z-index: 99999;
	background: #fff;
	left:calc(50% - 300px);
	border-radius: 3px;
}
.promotionsBox .promotionsBoxContent h1,
.sizeBox .sizeBoxContent h1,
.deliveryBox .deliveryBoxContent h1,
.addpayBox .addpayBoxContent h1{
	height: 50px;
	font-size: 18px;
	width:100%;
	background-color: #1484c4;
	line-height: 50px;
	padding-left: 10px;
	color:#fff;
	position: relative;
}
.promotionsBox .promotionsBoxContent h1 > i,
.sizeBox .sizeBoxContent h1 > i,
.deliveryBox .deliveryBoxContent h1 > i,
.addpayBox .addpayBoxContent h1 > i{
	position: absolute;
	top: 15px;
	right:20px;
	cursor: pointer;
	color:#fff;
}
.promotionsBox .promotionsBoxContent p,
.sizeBox .sizeBoxContent p,
.deliveryBox .deliveryBoxContent p,
.addpayBox .addpayBoxContent p{
	width:100%;
	height: 350px;
	padding: 15px;
	overflow-y:scroll;
}
.promotionsBox .promotionsBoxContent p::-webkit-scrollbar,
.sizeBox .sizeBoxContent p::-webkit-scrollbar ,
.deliveryBox .deliveryBoxContent p::-webkit-scrollbar,
.addpayBox .addpayBox p::-webkit-scrollbar{
	width: 1em;
  }

.productListText .productListTextBtnList .productListTextBtn{
	width: 150px;
	height: 40px;
	background:#7695B1;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-right: 20px;

}
.productListText .productListTextBtnList .productListTextBtn:hover{
	background: #222;
	transition: .5s;

}
.productListTextClass,.productListTextNo{
	display: flex;
	border-top: 1px #ccc solid;
	height: 40px;
	font-size: 14px;
	padding-top: 5px;
	font-weight: 500;
	color: #566;

}

.productListTextClass h4,.productListTextNo h4{
	width: 100px;
	font-size: 14px;
}
.productIllustrate{
	border:1px #ccc solid;
	border-radius: 5px;
	min-height: 300px;
	height: auto;

}
.productIllustrateBtn > .nav-link{
	color:#aaa;
	border:1px #ccc solid;
	font-weight: 600;
	margin: 0 3px;
	height: 40px;
	text-align: center;
	background: #F1F1F1;
}
.productIllustrateBtn > .nav-link.active{
	color:#333;
	background: #fff;
	border-top:3px #1484c4 solid;
	box-sizing: border-box;
	
}


.productLoveTitle h1{
	font-size: 24px;
	margin-top: 20px;
	color:#E6801E;
	position: relative;
}
.productLoveTitle h1::before{
	content: '';
	position: absolute;
	bottom: -10px;
	width: 200px;
	height: 3px;
	background: #E6801E;
	opacity: .5;
}
.productLove{
	width: 100%;
	border: 1px #ddd solid;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(1 1 1 / 15%);
	overflow: hidden;
	height: 430px;
	margin: 15px 0;
}
.productLove img{
	width: 100%;
	height: 250px;
	object-fit: cover;
}
.productLove .productLoveText{
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.productLove a{
	color: #333;
	text-decoration: none;
}
.productLove .productLoveText p{
	font-size: 14px;
	color: #aaa;
	margin: 5px 0;
}
.productLove .productLoveText h1{
	font-size: 18px;
	font-weight: 500;
	margin: 5px 0;
	padding: 0 5px;
}
.productLove .productLoveText h2{
	font-size: 18px;
	margin: 5px 0;
}
.productLove .productLoveText h2 span{
	text-decoration: line-through;
	color: #aaa;
	margin-right: 5px;
	font-size: 16px;
	font-weight: 500;
}
.productLove .productLoveText > .productLoveView{
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	width:120px;
	height: 40px;
	outline: none;
	border:none;
	background: #1484c4;
	color:#fff;
	margin-top: 10px;
	font-weight: 600;
	border-radius: 3px;
}

.payMethod{
	display: flex;
	align-items: center;
}
.payMethod b{
	width:80px;
	font-size: 16px;
	height: 50px;
	color:#333;
	line-height: 50px;
}
.payMethod p{
	height: 50px;
	line-height: 50px;
	margin-bottom:0;
}
.addpayTitle h1{
	font-size: 24px;
	color:#E6801E;
	position: relative;
	margin-bottom: 20px;
}
.addpayTitle h1::before{
	content: '';
	position: absolute;
	bottom: -10px;
	width: 200px;
	height: 3px;
	background: #E6801E;
	opacity: .5;

}
.addpayItem{
	width: 100%;
	border: 1px #ddd solid;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(1 1 1 / 15%);
	overflow: hidden;
	min-height: 400px;
	height: auto;
	margin:0;
	padding-bottom: 10px;
	position: relative;
	cursor: pointer;
}
#addpay1,#addpay2,#addpay3,#addpay4{
	position: absolute;
	top: 0;
	right: 0;
	width:25px;
	height:25px;
	user-select: none;
}

.addpayItem img{
	width:100%;
}
.addpayItem .addpayText{
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.addpayItem .addpayText h1{
	font-size: 18px;
	font-weight: 600;
	margin: 5px 0;
	padding: 0 5px;
}
.addpayItem .addpayText p{
	font-size: 14px;
	color: #aaa;
	margin: 5px 0;
}
.addpayItem .addpayText h2{
	font-size: 18px;
	margin: 5px 0;
}
.addpayItem .addpayText h2 span{
	text-decoration: line-through;
	color: #aaa;
	margin-right: 5px;
	font-size: 16px;
	font-weight: 500;
}
.addpayItem .addpayText h2 > b{
	color:#f00;
}
.addpayItem .addpayText button{
	border:none;
	outline: none;
	background:#7695B1;
	color:#fff;
	font-weight: 600;
	width: 120px;
	height: 40px;
	margin-top: 10px;
}
.addpayItem .addpayText > div{
	display: flex;
	margin: 3px 0;
}
.addpayItem .addpayText > div select{
	width: 130px;
	border:none;
	outline: none;
	border:1px #aaa solid;
	border-radius: 3px;
}
.addpayItem .addpayText > div select:focus{
	border-color: #55b5ee;
}
.addpayItem .addpayText > div h3{
	color:#666;
	font-size: 16px;
	width: 80px;
}


.groupProdTitle h1{
	font-size: 24px;
	color:#E6801E;
	position: relative;
	width: 120px;
	margin-bottom: 20px;
}
.groupProdTitle h1::before{
	content: '';
	position: absolute;
	bottom: -10px;
	width: 200px;
	height: 3px;
	background: #E6801E;
	opacity: .5;

}
.groupProdContent{
	border:1px #ccc solid;
	border-radius: 5px;
	padding: 5px;
}
.groupProdContent h2{
	color:#333;
	font-size: 20px;
	font-weight: 500;
}
.groupProdContent i {
	font-size: 24px;
}
.groupProdItem{
	width: 90%;
	border:1px #ccc solid;
	border-radius: 5px;
	min-height: 300px;
	height: auto;
	padding: 5px;
	margin: auto;
}
.groupProdItem h3{
	text-align: center;
	font-size: 18px;
	color:#333;
	margin: 5px 0;
}
.groupProdItem p{
	width: 100%;
	text-align: center;
	margin: 5px 0;
	font-size: 16px;
	color:#000;
	
}
.groupProdItem img{
	width: 100%;
}
.groupProdMoney{
	display: flex;
	flex-direction: column;
	width:100%;
	justify-content: center;
	align-items: center;
}
.groupProdMoney h4{
	color:#333;
}
.groupProdMoney span{
	display: flex;
	color:#999;
	align-items: center;
	margin: 10px 0;
}
.groupProdMoney span > p{
	text-decoration:line-through;
}
.groupProdMoney span > b{
	color:#f00;
	font-size: 24px;
}
.groupProdMoney button{
	width:150px;
	height: 40px;
	border:none;
	outline: none;
	background-color: #1484c4;
	color:#fff;
	cursor: pointer;
}
.rvp{
	overflow: hidden;
	position: relative;
	
}
.rvp .rvpItem{
	transform:translateX(0%);
	transition: .5s;
}
.rvp .rvpLeft{
	position: absolute;
	font-size: 28px;
	top: 48%;
	left: 0px;
	z-index: 999;
	color:#E6801E;
	opacity: .5;
	cursor: pointer;
}
.rvp .rvpRight{
	position: absolute;
	font-size: 28px;
	top: 48%;
	right: 0px;
	z-index: 999;
	color:#E6801E;
	opacity: .5;
	cursor: pointer;
}
.rvp .rvpLeft:hover,.rvp .rvpRight:hover{
	opacity: 1;
	transition: .3s;
}
@media screen and (max-width: 1200px){
	.productListPhoto{
	width: 450px;
	height: 450px;
}

}
@media screen and (max-width: 1024px){
.productListPhoto{
	width: 320px;
	height: 450px;
}
.productListText{
	width: 100%;
	padding: 0 20px;

}
.productLove{
width: 100%;
height: auto;
margin: 15px auto;
}
}
@media screen and (max-width: 767px){
.productListPhoto{
	width: 100%;
	height: auto;
	padding: 10px;
}
.productListText{
	width: 100%;
	padding: 0 10px;
}
.productLove{
width: 90%;
height: auto;
margin: 15px auto;
}
.productLove .productLoveText{
	flex-direction: row;
}
}


.slogan{
	min-height: 100px;
	margin: 30px 0;
	height: auto;
}
.slogan .slogan-text{
	text-align: center;
	font-size: 18px;
	height: 40px;
}
.slogan .slogan-text i{
	margin: 0 5px;
	color:#E6157D ;
}
@media screen and (max-width:600px){
	.promotionsBox .promotionsBoxContent,
	.sizeBox .sizeBoxContent,
	.deliveryBox .deliveryBoxContent,
	.addpayBox .addpayBoxContent{
		width: 300px;
		height: 400px;
		left:calc(50% - 150px);
	}
}