header .logo-search{
  display: flex;
  align-items: center;
  justify-content: center;
}
header .brand{
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 15px;
}
header .search{
  position: relative;
}
header .search a{
  color: #fff;
}
header .search .search-input{
  position: relative;
  position: absolute;
  top: 30px;
  left: -30px;
  width: 280px;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #ccc solid;
  display: none;

}
header .search .search-input:after{
  content: "";
  position: absolute;
  top: -20px;
  left:30px;
  border: transparent 10px solid;
  border-bottom-color: #fff;
}
header .search .search-input input{
  outline: none;
  border: none;
  border:  1px #ccc solid;
  width: 180px;
  height: 35px;
  padding-left: 10px;
  box-shadow:3px 3px 5px #ccc;
}
header .search .search-input button{
  width: 35px;
  height: 35px;
  background: #1484C4;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;


}

@media screen and (max-width: 1024px){
	 header .search{
	  display: none;
	  }
}