<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>冰芬文教</title>
  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="assets/css/shared.css">
  <link rel="stylesheet" href="assets/css/header.css">
  <link rel="stylesheet" href="assets/css/shopcart.css">
  <link rel="stylesheet" href="assets/css/grid.css">
  <link rel="stylesheet" href="assets/css/footer.css">
  <link rel="stylesheet" href="assets/css/scrollToTop.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/jquery.nice-number.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
<!-- -------一個區塊scrollToTop(assets/css/scrollToTop.css)------------ -->
<div class="scrollToTop-btn">
      <i class="fas fa-angle-up"></i>
    </div>
<!-- ---------------scrollToTop--END--------------------- -->


<!-- ------------一個header(assets/css/header.css)---------- -->
    <header>
      <div class="logo-search">
          <a href="../index/index.html" class="brand" title="冰芬文教"><img src="assets/images/logo.png" title="冰芬文教" alt="冰芬文教" width="180px" height="50px"></a>
          <div class="search">
            <a href="#"><i class="fas fa-search"></i></a>
            <div class="search-input">
              <input type="text" placeholder="搜尋...">
              <button><i class="fas fa-search"></i></button>
            </div>
          </div>
      </div>
    
    <div class="menu-btn"></div>

    	<div class="navigation">
    	<a href="../index/index.html" title="">首頁</a>
      <a href="../productList/productList.html" title="">購物中心</a>
      <a href="javascript:;" title="">客服中心</a>
      <a href="../login/login.html">登入/註冊</a>
      <div href="javascript:;" title="" class="myAccount">
        我的帳號<i class="fas fa-user"></i>
        <ul class="myAccountUl">
          <li><img src="assets/images/avatar.svg" alt="">李承諺</li>
          <a href="../myproduct/myproduct.html">我的課程</a>
          <a href="../collect/collect.html">收藏清單</a>
          <a href="../orderRecord/orderRecord.html">訂單紀錄</a>
          <a href="../member/member.html">帳戶設定</a>
          <a href="javascript:;">會員登出</a>
        </ul>
      </div>
    	</div>
      <div class="navigation-shop">
        <a href="#" class="shop-cart"><i class="fas fa-shopping-cart"></i></p></a>
        <ul class="shopUl" onclick="shopUL()">
          <li class="shopUl-1"><p>線上課程</p><p>(2)</p></li>
          <li class="shopUl-2"><p>實體教材</p><p>(1)</p></li>
          <li><a href="#">前往購物車</a></li>
        </ul>
    </div>


    </header>
<!-- ---------------------header-END---------------------- -->


<!-- --------------購物車(assets/css/shopcart.css)-------- -->
    <section class="shopcart">
      <div class="shopcart-back"></div>
      <!-- 線上課程 -->
      <div class="shopcart-main shopcart-main-online">
        <h1>購物車</h1>
        <div class="shop-prod">
           <p>購物車內暫無任何商品</p>
           <!-- 一個商品 -->
           <span>
             <a href="#"><img src="assets/images/pic01.jpg" alt=""></a>
             <h2>美學藝術</h2>
             <h3>$2,000</h3>
             <i class="fas fa-trash"></i>
           </span>
           <!-- ------- -->
           <!-- 一個商品 -->
           <span>
             <a href="#"><img src="assets/images/pic01.jpg" alt=""></a>
             <h2>美學藝術</h2>
             <h3>$2,000</h3>
             <i class="fas fa-trash"></i>
           </span>
           <!-- ------- -->

           <b>小計:$4,000</b>
           
        </div>
        <div class="accounts">
           <button class="checkcar">查看購物車</button>
           <button class="checkout">結帳</button>
        </div>
          
        <i class="fas fa-times shop-close shop-close-online"></i>
    </div>
    <!-- 線上課程END -->

    <!-- 實體教材 -->
      <div class="shopcart-main shopcart-main-textbook">
        <h1>購物車</h1>
        <div class="shop-prod">
           <p>購物車內暫無任何商品</p>
           <!-- 一個商品 -->
           <span>
             <a href="#"><img src="assets/images/pic01.jpg" alt=""></a>
             <h2>多益課本</h2>
             <h3>$500</h3>
             <i class="fas fa-trash"></i>
           </span>
           <!-- ------- -->
           <!-- 一個商品 -->
           <span>
             <a href="#"><img src="assets/images/pic01.jpg" alt=""></a>
             <h2>程式設計課本</h2>
             <h3>$900</h3>
             <i class="fas fa-trash"></i>
           </span>
           <!-- ------- -->
           <!-- 一個商品 -->
           <span>
             <a href="#"><img src="assets/images/pic01.jpg" alt=""></a>
             <h2>網頁設計課本</h2>
             <h3>$700</h3>
             <i class="fas fa-trash"></i>
           </span>
           <!-- ------- -->

           <b>小計:$2,100</b>
           
        </div>
        <div class="accounts">
           <button class="checkcar">查看購物車</button>
           <button class="checkout">結帳</button>
        </div>
          
        <i class="fas fa-times shop-close shop-close-textbook"></i>
    </div>
    <!-- 實體教材 -->
      
    </section>
<!-- -------------------------購物車END-------------------- -->


<!-- ----------content(assets/css/style.css)------- -->
<main>
    
    <section class="finishPage">
     <div class="container">
       <div class="row">

          

         <div class="col-sm-8 col-md-8 col-lg-4">
            <div class="orderDetails">
                <h1>訂單詳細資料</h1>
                <h2>冰芬文教:</h2>
                <ul class="orderDetailsTitle">
                  <li class="td-1">商品名稱</li>
                  <li class="td-2">應付金額</li>
                </ul>
                <!-- 一個商品 -->
                <ul class="orderDetailsItem">
                  <li class="td-1">美學藝術直播錄影課程×1</li>
                  <li class="td-2">$2,000</li>
                </ul>
                <!-- 一個商品END -->
                <!-- 一個商品 -->
                <ul class="orderDetailsItem">
                  <li class="td-1">美學藝術直播錄影課程×1</li>
                  <li class="td-2">$2,000</li>
                </ul>
                <!-- 一個商品END -->
                <!-- 一個商品 -->
                <ul class="orderDetailsItem">
                  <li class="td-1">美學藝術直播錄影課程×1</li>
                  <li class="td-2">$2,000</li>
                </ul>
                <!-- 一個商品END -->

                <!-- 運費 -->
                <ul class="orderDetailsAdd">
                  <li class="td-1">運費</li>
                  <li class="td-2">$0</li>
                </ul>
                <!-- 運費END -->

                <!-- 總計 -->
                <ul class="orderDetailsTotal">
                  <li class="td-1">總計</li>
                  <li class="td-2">$6,000</li>
                </ul>
                <!-- 總計END -->
                <!-- 地址 -->
                <ul class="orderDetailsAdd">
                  <li class="td-1">收件地址</li>
                  <li class="td-2">桃園市桃園區桃園路桃園號桃園樓</li>
                </ul>
                <ul class="orderDetailsAdd">
                  <li class="td-1">收件地址</li>
                  <li class="td-2">台北市台北區桃園路桃園號桃園樓</li>
                </ul>
                <!-- 地址END -->
            </div>
         </div>
         

         <div class="col-sm-8 col-md-8 col-lg-4">
            <div class="orderInfo">
              <h3><i class="far fa-check-circle"></i>
               謝謝！我們已經收到您的訂單！
             </h3>
               <ul>
                 <li>訂單編號:2600589311</li>
                 <li>日期:22日 9月,2021</li>
                 <li>付款日期:尚未付款</li>
                 <li>姓名:李承諺</li>
                 <li>電子郵件:ex@gmail.com</li>
                 <li>聯絡電話:0912345678</li>
                 <li>本次消費總計:$6,000</li>
                 <li>付款方式:網路ATM(尚未付款)</li>
                 <li>轉入帳號:0000000000</li>
               </ul>
             
            </div>
          </div>
       </div>
     </div>
    </section>
</main>
<!-- ---------------------content--END--------------------- -->


<!-- -------------Footer(assets/css/footer.css)--------------- -->
    <footer class="footer">
    	<span class="footer-title">冰芬文教</span>
    	<p>Copyright @2021 <a href="#" title="">冰芬</a>. All Rights Reserved.</p>
    </footer>
  <!-- ---------------------Footer--END----------------- -->

	<script type="text/javascript" src="assets/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="assets/js/myAccount.js"></script>
  <script src="assets/js/shopcart.js"></script>
  <script src="assets/js/search.js"></script>
  <script type="text/javascript" src="assets/js/login.js"></script>
  <script src="assets/js/jquery.nice-number.js"></script>
  <script src="assets/js/number.js"></script> 
  <script>
    var cardel = document.getElementsByClassName('cardel');
    var closeConvert = document.getElementsByClassName('closeConvert')[0];
    var enterCode = document.getElementsByClassName('enterCode')[0];
    var convert = document.getElementsByClassName('convert')[0];
    for(var i=0;i<cardel.length;i++){
      cardel[i].addEventListener("click",delCart);
    }

    function delCart(){
      confirm("確定要刪除嗎???")
    }
    convert.style.display="none";

    enterCode.addEventListener("click",()=>{
      convert.style.display="block";
      setTimeout(function(){
        convert.style.opacity=1;
      },100)
    })
    closeConvert.addEventListener("click",()=>{
      convert.style.display="none";
      convert.style.opacity=0;
      
    });
  </script>
</body>
</html>