<div class="logo-search">
    <a href="index.html" class="brand" title="冰芬文教"><img src="assets/images/logo.png" title="冰芬文教" alt="冰芬文教" width="180px" height="50px"></a>
    <div class="search">
      <a href="javascript:;"><i class="fas fa-search"></i></a>
      <div class="search-input">
        <input type="text" placeholder="請輸入商品關鍵字...">
        <button><i class="fas fa-search"></i></button>
      </div>
      
    </div>
    
</div>

<div class="menu-btn"></div>

<div class="navigation">
  <a href="index.html" title="">首頁</a>
  <a href="../productList/productList.html" title="">購物中心</a>
  <a href="../customerService/customerService.html" title="">客服中心</a>
<a href="../login/login.html" title="">登入/註冊</a>
<div href="javascript:;" title="" class="myAccount" >
  我的帳號<i class="fas fa-user"></i>
  <ul class="myAccountUl">
    <li><img src="assets/images/avatar.svg" alt="">李承諺</li>
    <a href="../myproduct/myproduct.html">我的課程</a>
    <a href="../collect/collect.html">收藏清單</a>
    <a href="../orderRecord/orderRecord.html">訂單紀錄</a>
    <a href="../member/member.html">帳戶設定</a>
    <a href="javascript:;">會員登出</a>
  </ul>
</div>

</div>
<div class="navigation-shop">
<a href="javascript:;" class="shop-cart"><i class="fas fa-shopping-cart"></i></p></a>
<ul class="shopUl" onclick="shopUL()">
  <li class="shopUl-1"><a href="../CART/cartPage.html"><p>線上課程</p><p><i class="fas fa-arrow-right"></i></p></a></li>
  <li class="shopUl-2"><a href="../CART-2/cartPage.html"><p>實體教材(宅配)</p><p><i class="fas fa-arrow-right"></i></p></a></li>
  <li><a href="../CART-3/cartPage.html"><p>實體教材(超商)</p><p><i class="fas fa-arrow-right"></i></p></a></li>
</ul>
</div>


<script src="./assets/js/myAccount.js"></script>
  <script src="./assets/js/script.js"></script>
  <script src="./assets/js/search.js"></script>
  <script src="./assets/js/shopcart.js"></script>