<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>冰芬文教</title>
  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="assets/css/shared.css">
  <link rel="stylesheet" href="assets/css/header.css">
  <link rel="stylesheet" href="assets/css/shopcart.css">
  <link rel="stylesheet" href="assets/css/grid.css">
  <link rel="stylesheet" href="assets/css/footer.css">
  <link rel="stylesheet" href="assets/css/scrollToTop.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/jquery.nice-number.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
<!-- -------一個區塊scrollToTop(assets/css/scrollToTop.css)------------ -->
<div class="scrollToTop-btn">
      <i class="fas fa-angle-up"></i>
    </div>
<!-- ---------------scrollToTop--END--------------------- -->


<!-- ------------一個header(assets/css/header.css)---------- -->
    <header>
      <div class="logo-search">
          <a href="../index/index.html" class="brand" title="冰芬文教"><img src="assets/images/logo.png" title="冰芬文教" alt="冰芬文教" width="180px" height="50px"></a>
          <div class="courseList">
            <h1 ><i class="fas fa-th-list"></i></h1>
            <div class="keyword">
                <div class="keywordlist">
                    <a>課程列表</a>
                    <a href="#">直播課程<i class="fas fa-arrow-right"></i></a>
                    <a href="javascript:;">英文課程<i class="fas fa-arrow-right"></i></a>
                    <a href="javascript:;">表演藝術<i class="fas fa-arrow-right"></i></a>
                    <a href="javascript:;">程式語言<i class="fas fa-arrow-right"></i></a>
                    <a href="javascript:;">書本教材<i class="fas fa-arrow-right"></i></a>
                    <a href="javascript:;">文具用品<i class="fas fa-arrow-right"></i></a>
                    <a href="javascript:;">文具用品<i class="fas fa-arrow-right"></i></a>
                    <a href="javascript:;">文具用品<i class="fas fa-arrow-right"></i></a>
                    <a href="javascript:;">文具用品<i class="fas fa-arrow-right"></i></a>
                    <a href="javascript:;">文具用品<i class="fas fa-arrow-right"></i></a>
                </div>
                
            </div>
        </div>
          <div class="search">
            <a href="#"><i class="fas fa-search"></i></a>
            <div class="search-input">
              <input type="text" placeholder="搜尋...">
              <button><i class="fas fa-search"></i></button>
            </div>
          </div>
      </div>
    
    <div class="menu-btn"></div>

    	<div class="navigation">
    	<a href="../index/index.html" title="">首頁</a>
      <a href="../productList/productList.html" title="">購物中心</a>
      <a href="javascript:;" title="">客服中心</a>
      <a href="../login/login.html">登入/註冊</a>
      <div href="javascript:;" title="" class="myAccount">
        我的帳號<i class="fas fa-user"></i>
        <ul class="myAccountUl">
          <li><img src="assets/images/avatar.svg" alt="">李承諺</li>
          <a href="../myproduct/myproduct.html">我的課程</a>
          <a href="../collect/collect.html">收藏清單</a>
          <a href="../orderRecord/orderRecord.html">訂單紀錄</a>
          <a href="../member/member.html">帳戶設定</a>
          <a href="javascript:;">會員登出</a>
        </ul>
      </div>
    	</div>
      <div class="navigation-shop">
        <a href="#" class="shop-cart"><i class="fas fa-shopping-cart"></i></p></a>
        <ul class="shopUl" onclick="shopUL()">
          <li class="shopUl-1"><p>線上課程</p><p>(2)</p></li>
          <li class="shopUl-2"><p>實體教材</p><p>(1)</p></li>
          <li><a href="../CART/cartPage.html">前往購物車</a></li>
        </ul>
    </div>


    </header>
<!-- ---------------------header-END---------------------- -->




<!-- ----------content(assets/css/style.css)------- -->
<main>
    
    <section class="cartPage"">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-6">
            <div class="cartItem">
              
              <div class="cartNone">
                <img src="assets/images/empty_cart.svg" alt="">
                <p>您的購物車為空，趕快去逛逛吧!</p>
                <a href="../productList/productList.html">來去逛逛</a>
              </div>
              <h1><input type="checkbox" class="cartCheckbox" checked>購物車(線上課程)</h1>
              <div class="cartContent">
                <ul class="cartContentTitle">
                  <li >
                    <div class="td-1">商品資訊</div>
                    <div class="td-2">售價</div>
                    <div class="td-3">活動折抵</div>
                    <div class="td-4">小計</div>
                  </li>
                </ul>
                <ul class="cartContentList">
                  <!-- 一個商品 -->
                  <li>
                    <div class="td-1"><img src="assets/images/pic01.jpg" alt=""><p>美學藝術直播錄影課程</p></div>
                    <div class="td-2">$2,000</div>
                    <div class="td-3">-$100</div>
                    <div class="td-4">$2,000 <i class="fas fa-trash cardel"></i></div>
                  </li>
                  <!-- 一個商品END -->
                  <!-- 一個商品 -->
                  <li>
                      <div class="td-1"><img src="assets/images/pic01.jpg" alt=""><p>美學藝術直播錄影課程</p></div>
                      <div class="td-2">$2,000</div>
                      <div class="td-3">-$100</div>
                      <div class="td-4">$2,000 <i class="fas fa-trash cardel"></i></div>
                    </li>
                    <!-- 一個商品END -->
                    <!-- 一個商品 -->
                  <li>
                      <div class="td-1"><img src="assets/images/pic01.jpg" alt=""><p>美學藝術直播錄影課程</p></div>
                      <div class="td-2">$2,000</div>
                      <div class="td-3">-$100</div>
                      <div class="td-4">$2,000 <i class="fas fa-trash cardel"></i></div>
                    </li>
                    <!-- 一個商品END -->
                    
                </ul>
              </div>


              <!-- 實體教材購物車 -->
              <h1><input type="checkbox" class="cartCheckbox" checked> 購物車(實體教材)</h1>
              <div class="cartContent">
                <ul class="cartContentTitle">
                  <li >
                    <div class="td-1">商品資訊</div>
                    <div class="td-2">售價</div>
                    <div class="td-3">數量</div>
                    <div class="td-4">小計</div>
                  </li>
                </ul>
                <ul class="cartContentList">
                  <!-- 一個商品 -->
                  <li>
                    <div class="td-1"><img src="assets/images/pic01.jpg" alt=""><p>多益課本</p></div>
                    <div class="td-2">$200</div>
                    <div class="td-3">-$100</div>
                    <div class="td-4">$200 <i class="fas fa-trash cardel"></i></div>
                  </li>
                  <!-- 一個商品END -->
                  
                    
                </ul>
                
              </div>
              <div class="shippingMethod">
                <h2>選擇收件地與運送方式</h2>
                <select name="" id="">
                  <option value="" disabled>請選擇運收件地</option>
                  <option value="">台灣</option>
                  <option value="">離島</option>
                </select>
                <select name="" id="shippingMethodSelect">
                  <option value="" disabled>請選擇運送方式</option>
                  <option value="宅配">宅配$60</option>
                  <option value="7-11">7-11超商取貨$60</option>
                </select>
                <div class="superBusiness">
                  <a href="javascript:;">選擇超商門市</a>
                  <p>超商門市:箱根門市</p>
                </div>
                
              </div>
              <!-- 實體教材購物車END -->

            </div>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-2">
            <div class="cartItem cartIetmRight">
              
              <div class="cartSubtotal">
                  <h1>小計</h1>
              <h2>折扣碼</h2>
              <button class="enterCode">輸入折扣碼 <i class="fas fa-caret-right"></i></button>
              <h4>您的折扣碼:RED566</h4>
              <div class="line"></div>
              <h4>商品總金額:$5,600</h4>
              <h4>折扣碼折抵:-$50</h4>
              <h4>活動共折抵:-$400</h4>
              <h4>運費總計:$60</h4>
              <h3>總金額:<span>$5,610</span></h3>
              <input type="submit" value="前往結帳">
              </div> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="productIllustrate">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class="productIllustrateBox">
              <h1>特殊商品訂購說明</h1>
              <p>
                  1.若您的購物車同時有二台以上，則須分開結帳步驟。<br>
                  2.機車商品由於辦理領牌作業時，需核對領牌人及發票抬頭，故訂購機車商品時，每筆訂單僅限單一品項訂購一件。<br>
                  3.旅遊商品為便於人數統計及代收轉付收據開立作業，故請於訂購旅遊商品時，每筆訂單僅限訂購單一品項商品。<br>
                  4.請下拉選擇商品之配送方式，部分商品僅提供宅配到府，無超商取貨服務。<br>
                  5.提醒您，若您使用超商取貨方式下單但貨到後未至門市取件，或是使用ATM/iBon/FamiPort付款方式，而有多次未付款之紀錄，將會影響您未來 使用超商取貨服務及訂購商品的權益！<br>
                  6.若使用週期配送服務，momo購物網將依您選擇的條件自動週期訂購商品，詳細規範請參閱週期配送服務條款。<br>
                  7.使用無卡分期支付，每筆訂單內僅能有單一筆商品。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="myCollect">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1>我的收藏</h1>
            <div class="collectNull">
              <img src="assets/images/collectNull.svg" alt="">
              <p>收藏清單中目前沒有商品</p>
            </div>
            <div class="collectContent">
              <!-- 一個收藏商品 -->
              <div class="collectItem">
                  <img src="assets/images/a4.jpg" alt="">
                  <div class="collectText">
                    <p>線上課程</p>
                    <h1>程式設計課程程式設計</h1>
                    <h2><span>$2,000</span>1,500</h2>
                  </div>
                  <div class="collectBtn">
                    <input type="submit" value="加入購物車">
                    <input type="submit" value="刪除">
                  </div>
                </div>
                <!-- 一個收藏商品END -->
                <!-- 一個收藏商品 -->
              <div class="collectItem">
                  <img src="assets/images/a4.jpg" alt="">
                  <div class="collectText">
                    <p>線上課程</p>
                    <h1>程式設計課程程式設計</h1>
                    <h2><span>$2,000</span>1,500</h2>
                  </div>
                  <div class="collectBtn">
                    <input type="submit" value="加入購物車">
                    <input type="submit" value="刪除">
                  </div>
                </div>
                <!-- 一個收藏商品END -->
                <!-- 一個收藏商品 -->
              <div class="collectItem">
                  <img src="assets/images/a4.jpg" alt="">
                  <div class="collectText">
                    <p>線上課程</p>
                    <h1>程式設計課程程式設計</h1>
                    <h2><span>$2,000</span>1,500</h2>
                  </div>
                  <div class="collectBtn">
                    <input type="submit" value="加入購物車">
                    <input type="submit" value="刪除">
                  </div>
                </div>
                <!-- 一個收藏商品END -->
                <!-- 一個收藏商品 -->
              <div class="collectItem">
                  <img src="assets/images/a4.jpg" alt="">
                  <div class="collectText">
                    <p>線上課程</p>
                    <h1>程式設計課程程式設計</h1>
                    <h2><span>$2,000</span>1,500</h2>
                  </div>
                  <div class="collectBtn">
                    <input type="submit" value="加入購物車">
                    <input type="submit" value="刪除">
                  </div>
                </div>
                <!-- 一個收藏商品END -->
                
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="slogan">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-4 col-lg-2">
               <div class="slogan-text">
                 <i class="far fa-gem"></i>冰芬賣的，商品好讚
               </div>
            </div>
            <div class="col-sm-8 col-md-4 col-lg-2">
               <div class="slogan-text">
                 <i class="far fa-gem"></i>冰芬賣的，商品好讚
               </div>
            </div>
            <div class="col-sm-8 col-md-4 col-lg-2">
               <div class="slogan-text">
                 <i class="far fa-gem"></i>冰芬賣的，商品好讚
               </div>
            </div>
            <div class="col-sm-8 col-md-4 col-lg-2">
               <div class="slogan-text">
                 <i class="far fa-gem"></i>冰芬賣的，商品好讚
               </div>
            </div>
          </div>
        </div>
      </section>
    <section class="convert">
      <div class="convertModel">
       <h1>請輸入折扣碼</h1>
       <input type="text" placeholder="輸入折扣碼">
       <button>套用</button>
       <i class="fas fa-times closeConvert"></i>
      </div>      
    </section>
</main>
<!-- ---------------------content--END--------------------- -->


<!-- -------------Footer(assets/css/footer.css)--------------- -->
    <footer class="footer">
    	<span class="footer-title">冰芬文教</span>
    	<p>Copyright @2021 <a href="#" title="">冰芬</a>. All Rights Reserved.</p>
    </footer>
  <!-- ---------------------Footer--END----------------- -->

	<script type="text/javascript" src="assets/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="assets/js/myAccount.js"></script>
  <script src="assets/js/shopcart.js"></script>
  <script src="assets/js/search.js"></script>
  <script type="text/javascript" src="assets/js/login.js"></script>
  <script src="assets/js/jquery.nice-number.js"></script>
  <script src="assets/js/number.js"></script> 
  <script src="assets/js/cartPage.js"></script>
  <script src="assets/js/keyword.js"></script>
</body>
</html>