<link rel="stylesheet" href="../FOOTER/assets/css/footer.css">


  <section class="sub-newsletter">
      <div class="newsletterback"></div>
     <div class="newsletter">
        <div class="newsletter-header">
          <h1>訂閱電子報</h1>
          <i class="fas fa-times"></i>
        </div>
        <div class="newsletter-content">
          <input type="email" placeholder="請輸入e-mail">
          <p>您尚未訂閱電子報</p>
          <div class="newsletter-check">
            <label for="subok" class="subok"><input type="radio" id="subok" value="subok" name="sub" checked>確認訂閱</label>
            <label for="subno" class="subno"><input type="radio" id="subno" value="subno" name="sub" disabled>取消訂閱</label>
          </div>

          <button class="sub-send">送出</button>
        </div>
        

     </div>
   </section>

  <section class="orderlink">
      <div class="container">
        <div class=" order-item-footer">
           <div class="col-sm-8 col-md-3 col-lg-3 order-item">
             <h1>冰芬文教</h1>
             <p>色彩一直是療育人心的良藥<br>
              繽紛=冰芬 意旨戒掉呆板數學及爛英文的學習方式<br>
              利用國外的學習模式 "更高的自由度、更強的互動性和更深的參與感" 讓學習更加放鬆、快樂。</p>
           </div>
           <div class="col-sm-8 col-md-2 col-lg-2 order-item">
             <h1>關於冰芬</h1>
             <a href="javascript:;">關於我們</a>
             <a href="javascript:;">聯絡我們</a>
             <a href="javascript:;">常見問題</a>
             <a href="javascript:;">隱私權政策</a>
             <a href="javascript:;">加入會員</a>
             <a id="subnewopen">訂閱電子報</a>
           </div>
           <div class="col-sm-8 col-md-3 col-lg-3 order-item">
             <h1>追蹤我們</h1>
             <a href="https://www.ice-finland.club/">冰芬官網</a>
             <a href="https://www.facebook.com/icefinland/">FB專頁</a>
           </div>
           <div class="col-sm-8 col-md-3 col-lg-3 order-item">
             <h1>友善連結</h1>
             <a href="javascript:;">憶旺智慧</a>
             <a href="javascript:;">大慶</a>
             <a href="javascript:;">智慧校園</a>
           </div>
        </div>
      </div> 
     </section>
<div class="footerTrademark">
  <span class="footer-title">冰芬文教</span>
<p>Copyright @2021 <a href="index.html" title="">冰芬</a>. All Rights Reserved.</p>
</div>




