.shopcart{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: .5s;
  overflow: hidden;
  display: none;
}
.shopcart .shopcart-back{
  position: fixed;
  top: 0;
  right: 350px;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);

}
.shopcart .shopcart-main{
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background: #fff;
  z-index: 9999;
  transition: 3s;
}
.shopcart .shopcart-main .shop-prod{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shopcart .shopcart-main .shop-prod span{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding:10px ;
  border-bottom: 1px #ddd solid;
}
.shopcart .shopcart-main .shop-prod span img{
  width: 100px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}
.shopcart .shopcart-main .shop-prod span h2{
  font-size: 16px;
  margin-right: 10px;
  width: 100px;
  color: #1484C4;
}
.shopcart .shopcart-main .shop-prod span h3{
  font-size: 16px;
  margin-right: 15px;
  font-weight: 500;
  font-family: sans-serif;
  color: #666;
}
.shopcart .shopcart-main .shop-prod b{
  text-align: right;
  color: #333;
  margin-top: 15px;
  justify-content: flex-end;
  font-weight: 600;
}
.shopcart .shopcart-main .shop-prod span i{
  font-size: 16px;
  cursor: pointer;
  color: #bbb;
}
.shopcart .shopcart-main h1{
  text-align: center;
  position: relative;
  margin-top: 30px;
  font-size: 18px;
  color: #333;
}
.shopcart .shopcart-main .shop-close{
  position: absolute;
  top: 15px;
  right:15px;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}
.shopcart .shopcart-main i:hover{
  color: #000;
  transition: .5s;
}
.shopcart .shopcart-main h1:before{
  content: '';
  background: #ddd;
  width: 50px;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 25px);
}
.shopcart .shopcart-main p{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shopcart .shopcart-main .accounts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopcart .shopcart-main .accounts .checkcar{
  width: 250px;
  height: 40px;
  outline: none;
  border: none;
  background: #444554;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}
.shopcart .shopcart-main .accounts .checkcar:hover{
  background: #363743;
  transition: .5s;
}
.shopcart .shopcart-main .accounts .checkout{
  width: 250px;
  height: 40px;
  outline: none;
  border: none;
  background: #1B4F7D;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}
.shopcart .shopcart-main .accounts .checkout:hover{
  background: #163F64;
  transition: .5s;
}