
.member{
	width:80%;
	margin:auto;
}

.member .member-title{
	border-bottom: 1px #DDD solid;
	height: 80px;
	padding: 0 10px;
}
.member .member-title h1{
	font-weight: 500;
	margin-bottom: 10px;
}
.member .member-title p{
	font-size: 14px;
}
.member .member-content{
	display: flex;
	justify-content: space-between;
}
.member form{
	width:70%;
}
.member .member-nav{
	width: 30%;
	height: 500px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.member .member-nav ul{
	list-style: none;
	width: 80%;
	display: flex;
	flex-direction: column;

}
.member .member-nav ul a{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #333;
	font-weight: 600;
	border-bottom: 1px #DDD solid;

}
.member .member-nav ul a img{
	margin-right: 10px;
}
.member .member-nav ul a:hover{
	color: #1484c4;
}
.member .member-nav ul a:nth-child(1){
	height: 80px;
	color: #666;
	font-weight: 500;
}
.member .member-nav ul a:nth-last-child(1){
	border-bottom: none;
}
.member .member-nav ul a img{
	width: 50px;
	height: 50px;
}




.member .settings{
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 900px;
	border-left: 1px #ccc solid;
	padding: 15px;
}
.member .settings .setting-columns{
	display: flex;
	width: 80%;
}
.member .settings .setting-columns .setting-column{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 20px 5px;
} 
.member .settings .setting-columns .setting-column p{
	font-weight: 600;
	margin-bottom: 5px;
}
.member .settings .setting-columns .setting-column input{
	outline: none;
	border: none;
	border: 1px #ccc solid;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	padding: 0 10px;
}
.member .settings .setting-columns .setting-column input:focus{
	border: #BAD9FA 3px solid;
	transition: .3s;
}
.member .settings .setting-columns .setting-column button{
	width: 50%;
	margin: auto;
	cursor: pointer;
	background: #1484c4;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	outline: none;
	border: none;
	border: 1px #ccc solid;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	padding: 0 10px;
}

.member .settings .setting-columns .setting-column button:hover{
	background: #1458C4;
	transition: .5s;
}

.member .settings .setting-columns .setting-column select{
	outline: none;
	border: none;
	border: 1px #ccc solid;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	padding: 0 10px;
	margin: 5px 0;
}
.member .settings .setting-columns .setting-column .chk {
	display: flex;
	flex-wrap: wrap;
}
.member .settings .setting-columns .setting-column .chk label{
	display: flex;
	align-items: center;
	margin: 5px 10px;
}
.member .settings .setting-columns .setting-column label input[type="checkbox"]{
	width: 15px;
	height: 15px;
}
.thousands::before{
    content:'$';
}

.warningText{
	color:#f10;
	font-size: 14px;
}
.member .settings .setting-columns .setting-column button.btn-disable{
	background: #ccc;
	cursor:default ;
}
/* STI Add Start*/
h1 {
    font-size: 24px;
}
/* STI Add End*/
@media screen and (max-width:1024px){
	.member{
		width:95%;
	}
	.member .member-content{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: center;
	}
	.member .member-nav{
		width:100%;
		height: auto;
	}
	.member form{
		width:100%;
	}
	.member .settings{
		border-left:none;
	}
}
@media screen and (max-width: 765px){
	.member .member-nav{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	
}
	
}