
.CStitle{
	color:#1484c4;
	position: relative;
}
.CStitle::after{
	content: 'Customer Service';
	position: absolute;
	top: 50%;
	left: -80%;
	width: 320px;
	text-align: center;
	font-size: 30px;
	color:rgba(100, 100, 100, .2);
}
.CStitle::before{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #1484c4;
}

.CScontent{
	margin-top: 50px;
}

.CSLeftSidebar .CSLeftSidebarList{
	display: flex;
	flex-direction: column;
	list-style: none;
	width:100%;
	border: 1px #1484c4 solid;
	box-sizing: border-box;
	margin-top: 50px;
}
.CSLeftSidebar .CSLeftSidebarList li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #1484c4;
	color:#fff;
	padding-left: 15px;
	font-size: 18px;
	font-weight: 600;

}
.CSLeftSidebar .CSLeftSidebarList a{
	width: 100%;
	height: 35px;
	display: block;
	text-decoration: none;
	color:#333;
	border-bottom: 1px #ccc solid;
	line-height: 35px;
	padding-left: 15px;

}
.CSLeftSidebar .CSLeftSidebarList a:hover{
	background-color: #ddd;
}
.CStitlebox{
    display: flex;
    justify-content: center;
    align-items: center;
}

  

.slogan{
	margin: 30px 0;
	height: auto;
	width:100%;
	margin:80px auto;
  }
  .slogan .slogan-text{
	text-align: center;
	font-size: 18px;
	height: 40px;
  }
  .slogan .slogan-text i{
	margin: 0 5px;
	color:#E6157D ;
  }
  
  